@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Editing stylist @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  <div><span>@Html.LabelFor(model => model.HireDate, "Hire date:")</span><span>@Html.EditorFor(model => model.HireDate)</span></div>
  <div><span>@Html.LabelFor(model => model.FirstName, "First name:")</span><span>@Html.EditorFor(model => model.FirstName)</span></div>
  <div><span>@Html.LabelFor(model => model.LastName, "Last name:")</span><span>@Html.EditorFor(model => model.LastName)</span></div>
  <div><span>@Html.LabelFor(model => model.Specialty, "Specialty:")</span><span>@Html.EditorFor(model => model.Specialty)</span></div>
  <button class="green" type="submit">Save</button>
}

<a href='@Url.Action("Index")'>
  <button>Back to list</button>
</a>
