@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1>@ViewBag.PageTitle</h1>

@if (@Model.Count == 0)
{
  <h3>No results!</h3>
} 

<ul class="client-list">
  @foreach(Client client in Model)
  {
    <li class="client-list-item">
      <span>@Html.DisplayFor(model => client.FirstName) @Html.DisplayFor(model => client.LastName)</span>
      <p>Stylist: @Html.DisplayFor(model => client.Stylist.FirstName)</p>
      <a href='@Url.Action("Edit", "Clients", new { id = client.ClientId })'>
        <button class="yellow">Edit</button>
      </a>
      <a href='@Url.Action("Delete", "Clients", new { id = client.ClientId })'>
        <button class="red">Delete</button>
      </a>
    </li>
  }
</ul>

<a href='@Url.Action("Index", "Home")'>
  <button>Home</button>
</a>
